*{
box-sizing: border-box;
font-family: "Poppins", serif;

}
 body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
} 

.logoformulario h1  {
display: flex;
justify-content: center;

}
.logoformulario p{
display: flex;
justify-content: center;
}


.formulario{
background-color: #201c6334;
border-radius: 10px;
max-width: 440px;
width: 100%;
padding:45px 35px ; 
}

/* ativar somente uma pagina */

.form-box{
display: none;
}
.form-box.active{
display: block;
}

.input-box {
position: relative;
margin-bottom: 20px;
}

.input-box .icon {
position: absolute;
top: 50%;
left: 12px;
font-size: 16px;
transform: translateY(-50%);
color: #fa0101;
}
.input-box input, select {
    width: 97%;
    padding: 12px 12px 12px 38px;
    border: 1px solid #d3d6db;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.2s;
}
.input-box input:focus {
    border-color: #3a7afe;
    outline: none;
}


.concordo-termo{
display: flex;
}

.Cadastro{
width: 97%;
height: 40px;
border-radius: 10px;
background-color:rgb(114, 114, 145) ;
color: azure;
font-size: 17px;
cursor: pointer;
}
.Cadastro:hover{
background-color: #07305f;
}


/* ou faca login  */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #646464;
}

.separator::before {
    margin-right: 10px;
}

.separator::after {
    margin-left: 10px;
}

.login-text {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.login-text a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}


.error-message{

padding: 12px;
background-color: #d3d6db;
border-radius: 6px;
font-size: 16px;
color: red;
text-align: center;
margin-bottom: 20px;
}