
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sedgwick+Ave+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

h1 {
  color: white;
}

p {
  color: white;
}

.corpo {
  margin: 20%;
  margin-top: 60px;
  margin-bottom: 5px;
  display: flex;

}

.corpo img {
  width: 450px;
  height: 450px;
  margin-left: 15%;
  margin-bottom: 0px;
}

.corpo h1 {
  font-size: 60px;
  font-family: "Oldenburg", serif;
  font-weight: 800;

}

.corpo p {
  font-size: 18px;
  margin-top: 10px;

}

.botao {
  margin-top: 50px;
  width: 300px;
  margin-bottom: 200px ;

}

.btn-container {
  display: flex;
  gap: 20px;
  height: 50px;

}

.btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  width: 650px;

}

.btn-login {
  background-color: hsla(271.9148936170212, 100%, 50%, 1);
  ;
  color: white;
}

.btn-login:hover {
  background-color: rgba(136, 0, 255, 0.377);
  transform: scale(1.15);
}

.btn-cadastro {
  background-color: hsla(271.9148936170212, 100%, 50%, 1);
  ;
  color: white;
}

.btn-cadastro:hover {
  background-color: rgba(136, 0, 255, 0.377);
  transform: scale(1.15);
}

.corpo02 {
  background-color:rgb(22, 22, 22)  ;
  display: block;
}

.corpo02 h1 {
  font-size: 60px;
  font-family: "Oldenburg", serif;
  font-weight: 800;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;

}

.corpo02 p {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  display:block ;

}

.corpo02 img {
  width: 500px;
  height: 500px;
  margin-top: 30px;
  margin-left: 35%;

}

.corpo03{
  background-color: rgb(22, 22, 22);
  display: flex;
}


.corpo03 h1 {
  font-size: 60px;
  font-family: "Oldenburg", serif;
  font-weight: 800;
  margin: 20%;
  margin-top: 40px;
  margin-left: 43%;
  margin-right: 0%;
  margin-bottom: 0%;

}

.corpo03 p {
  font-size: 18px;
  margin: 1%;
  margin-top: 0%;
  margin-left: 43%;
  margin-right: 0%;
}

.corpo03 img {
  width: 450px;
  height: 450px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;

}

.corpo04{
  background-color: rgb(22, 22, 22);
  display: flex;
}

.corpo04 h1{
  font-size: 60px;
  font-family: "Oldenburg", serif;
  font-weight: 800;
  margin: 20%;
  margin-top: 55px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0px;

}

.corpo04 p{
  font-size: 18px;
  margin: 20%;
  margin-top: 10px;
  margin-left: 0%;
  margin-right: 35%;
  
}

.corpo04 img {
  width: 450px;
  height: 450px;
  margin-left: 15%;
  margin-right: 15%;
 

}

.corpo05{
  background-color: rgb(22, 22, 22);

}

.corpo05 h1{
  font-size: 60px;
  font-family: "Oldenburg", serif;
  font-weight: 800;
  margin-left: 45%;
  margin-top: 0%;


}

.espcard{
  display: flex;
  align-items: center;
  margin-left: 18%;
}

.card{
  background-color: rgb(22, 22, 22);
  width: 350px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(136, 0, 255, 0.377);
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;

}

.card img{
  margin-top: 30px;
}

.card h2{
  color: white;
  margin-top: 20px;
  margin-bottom: 5px;
 
}

.card p{
  margin: 15%;
  margin-top: 15px;
}



/* prompi mobile */
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #b3b3d8;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
/*rgba(57, 0, 107, 0.966)*/